---
import '@fortawesome/fontawesome-free/css/all.min.css';
import '../styles/global.css';

import NavItems from '../components/NavItems.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;

const metaTagTitle = `${title} - Spotify Playlist Archive`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#1EB854" />
    <link rel="canonical" href={Astro.url.href} />
    <title>{metaTagTitle}</title>
    <meta name="description" content={description} />
    <meta name="theme-color" content="#1EB854" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={metaTagTitle} />
    <meta property="og:description" content={description} />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta name="twitter:creator" content="@MaciejPedzich" />
    <meta property="twitter:title" content={metaTagTitle} />
    <meta property="twitter:description" content={description} />
    <script is:inline>
      if (localStorage.getItem('theme') === null) {
        if (
          window.matchMedia &&
          window.matchMedia('(prefers-color-scheme: dark)').matches
        ) {
          document.documentElement.setAttribute('data-theme', 'dark');
        } else {
          document.documentElement.setAttribute('data-theme', 'light');
        }
      } else {
        document.documentElement.setAttribute(
          'data-theme',
          localStorage.getItem('theme')
        );
      }
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
    </script>
  </head>
  <body>
    <header
      class="navbar bg-base-200 fixed top-0 w-full z-50 border-b-[1px] border-base-content border-opacity-20"
    >
      <div class="navbar-start lg:w-full">
        <div class="lg:flex-none flex-1">
          <a
            href="/"
            class="lg:mx-4 mx-0 btn btn-ghost normal-case text-lg whitespace-nowrap overflow-hidden hover:text-inherit"
          >
            Spotify Playlist Archive
          </a>
        </div>
        <div class="lg:flex lg:w-full hidden">
          <NavItems class="menu menu-horizontal lg:flex-1 p-0" />
        </div>
      </div>
      <div class="navbar-end lg:hidden">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-square btn-ghost">
            <i class="fa-solid fa-bars text-xl"></i>
          </label>
          <NavItems
            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 z-10 rounded-box w-52"
          />
        </div>
      </div>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
